@import 'tailwindcss';


@theme {
  --color-semi-red: #ff5c7a;
  --color-banner-purple: #f1e7f6;
  --color-banner-blue: #dbeafe;
  --color-semi-pink: #ffc2c2;
  --color-button-pink: #ff7a92;
  --color-page-background: #f5f5f5;
  --color-background: #ebedf1;
  --color-icon-detail: #8d8e99;
  --color-modal-font: #79889c;
  --color-black: #f5f5f5;
  --color-box-line: #d7d8dd;
  --color-line: #ececec;
}

@layer base {
  html,
  body {
    background-color: #fff;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}
